/* css color variables */
:root {
  --main-back: #3d2875;
  --main-light: #b59ef7;
  --main-bright: #7e53f5;
  --main-dark: #564b75;
  --main-mid: #6341c2;
}

body {
  padding: 10%;
  background-color: var(--main-back);
}

.landing {
  color: var(--main-bright);
  text-align: center;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20fr;
  background: var(--main-bright);
  color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  flex-direction: column;
  text-shadow: var(--main-mid) 2px 2px 1px;
  border-radius: 20px;
  box-shadow: var(--main-dark) 4px 4px 4px;
}

.announce,
.subannounce {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.links {
  border: var(--main-back) 3px solid;
  border-radius: 5px;
  box-shadow: var(--main-back) 2px 2px 1px;
  padding: 15px;
}
p {
  height: 50px;
  width: 50px;
  font-size: 50px;
  text-shadow: var(--main-light) 2px 2px 1px;
}
